.dashboard-pfp {
  width: 200px;;
  border-radius: 10px;
}

.container-dashboard {
  color:white;
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
  }
}
