// Specific CSS for your home-page

.container-landing {
  position: relative;
  height:100vh;
}

 /* Video Styling */
 #videoBG {
  position: absolute;
  top:0;
  right:0;
  min-width: 100%;
  min-height: 100%;
}

/* Content Overlay */
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#landH1 {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#landH3 {
  color: white;
  text-shadow: 1px 1px black;
}
