// Import page-specific CSS files here.
@import "home";
@import "dashboard";

body {
  overflow-x: hidden;
}

// #videoBG {
//   height: 100vh;
//   position:relative;
//   opacity: 0.8;
//   margin-top: -10vh;
// }

 /* Video Styling */
 #videoBG {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Content Overlay */
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#landH1 {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#landH3 {
  color: white;
  text-shadow: 1px 1px black;
}
