<div class="">
  <div id="footer" class="container-fluid text-center text-white">
    <div class="d-flex justify-content-center mt-4 pt-1">
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-discord"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-github"></i></a>
      <a class="btn btn-floating" href="#!" role="button"><i class="fab fa-slack"></i></a>
    </div>
    <div class="container-fluid text-center text-white">Cryptocademy by Vince, Taneshwar, Rylan & Kurt</div>
  </div>
</div>
