<div class="">
  <div id="footer" class="container-fluid text-center text-white">
    <section class="mt-4 pt-1">
      <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
  </div>
</div>
