<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <a class="d-flex justify-content-start align-items-center nav-link" href="/home">
    <div class="navbar-brand"></div>
    <article><h4 color= "white" class="mt-2">CryptoCademy</h4></article>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <form class="d-flex nav-search" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", lessons_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tracks", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", "#", class: "nav-link" %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
      </li>
    </ul>
  </div>
</div>
</div>
