<div class="card card-show m-2 col-12">
  <div class="card-header card-header-show align-items-center text-align-center">
    <div class="d-flex">
      <i class="fa-regular fa-circle-xmark" data-action="click->open-popup#closePopup"></i>
      <h2 class="card-title card-title-show"><%= card.header %></h2>
    </div>
  </div>
  <div class="card-body card-body-show">
    <p class="card-text"><%= card.content %></p>
  </div>
  <div class="d-flex col-11 justify-content-between mb-3 ms-4 ps-4">
    <%= render "shared/buttons_left", tag: "Back", link: "#" %>
    <%= render "shared/buttons_right", tag: "Next", link: "#" %>
  </div>
</div>
</div>
