<video autoplay muted loop id="videoBG">
  <source src="https://firebasestorage.googleapis.com/v0/b/production-valhalla.appspot.com/o/videos%2Fart_reveal_trailer.mp4?alt=media" type="video/mp4">
</video>

<div class="vstack gap-2 col-md-5 align-items-center content">
  <div class="justify-content-center">
    <h1 id="landH1" class="display-1 text-center">Cryptocademy</h1>
    <h3 id="landH3" class="text-center">Blockchain made simple</h2>
  </div>
  <div>
    <%= render "shared/buttons_right", tag: "Start!", link: "/dashboard" %>
  </div>
</div>
