<video autoplay muted loop id="videoBG">
  <source src="https://firebasestorage.googleapis.com/v0/b/production-valhalla.appspot.com/o/videos%2Fart_reveal_trailer.mp4?alt=media" type="video/mp4">
</video>

<div class="content">
  <%= render "shared/buttons_right", tag: "Start!", link: "/dashboard" %>
</div>
