.card-index {
  min-height: 305px;
}

.card-link-index {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.card-title-index {
  font-weight: 700;
}

.lesson-image {
  width: 250px;
  top: 20px;
  left: 20px;
  position: absolute;
  box-shadow: 10px 10px #5580E9;
}

.card-body-index {
  padding-left: 300px;
}

.card-header-index {
  background-color: black;
  color: white;
  padding-left: 300px;
  min-height: 90px;
  align-items: center;
}

.card-show {
  min-height: 305px;
}

.card-link-show {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.card-title-show {
  font-weight: 700;
}

.lesson-image {
  width: 250px;
  top: 20px;
  left: 20px;
  position: absolute;
  box-shadow: 10px 10px #5580E9;
}

.card-body-show {
  padding-left: 300px;
}

.card-header-show {
  background-color: black;
  color: white;
  padding-left: 300px;
  min-height: 90px;
  align-items: center;
}
