// INDEX PAGE
.card-index {
  min-height: 305px;
}

.card-link-index {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.card-title-index {
  font-weight: 700;
}

.lesson-image {
  width: 250px;
  top: 25px;
  left: 25px;
  position: absolute;
  box-shadow: 10px 10px #5580E9;
}

.badge-points {
  position: absolute;
  top:15px;
  right:0px;
}

.card-body-index {
  padding-left: 325px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.card-header-index {
  background-color: black;
  color: white;
  padding-left: 325px;
  min-height: 90px;
  padding-top: 25px;
}


// SHOW PAGE
.card-show {
  height: 80vh;
  padding: 0px;
  visibility: hidden;
}

.card-link-show {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.popupShow {
  top:0%;
  left: 50%;
  transform: translate(0%,-100%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(0%,0%) scale(1);
}

.card-title-show {
  font-weight: 900;
  margin-top:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lesson-image-show {
  width: 150px;
  box-shadow: 10px 10px #5580E9;
}

.card-body-show {
  justify-content: center;
  text-align: center;
}

.card-header-show {
  border-radius: 20px 20px 0px 0px;
  background-color: black;
  color: white;
  text-align: center;
  min-height: 90px;
  align-items: center;
}
